# ── Snowflake ─────────────────────────────────────────────────
SNOWFLAKE_ACCOUNT=CQAPAYJ-MO33758
SNOWFLAKE_USER=ton_username
SNOWFLAKE_PASSWORD=ton_password
SNOWFLAKE_WAREHOUSE=NYC_TAXI_WH
SNOWFLAKE_DATABASE=NYC_TAXI_DB
SNOWFLAKE_ROLE=ACCOUNTADMIN

# ── Ingestion TLC ─────────────────────────────────────────────
TAXI_SOURCE_MODE=local
TAXI_LOCAL_DIR=/home/maxime/Téléchargements/Taxi
# Exemple : 2026-02 ou 2026-01,2026-02
TAXI_MONTHS=
TAXI_BASE_URL=https://d37ci6vzurychx.cloudfront.net/trip-data
TLC_DATA_PAGE=https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page
